* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header,
.footer {
  font-size: 50px;
  background-color: brown;
  height: 100px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: fantasy;
}
.doniyor {
  text-align: center;
  background-color: dodgerblue;
  padding: 30px 0;
}
.doniyor__title {
  font-size: 45px;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 30px;
}
.doniyor__img {
  max-width: 48%;
  width: 100%;
  height: 500px;
  border-radius: 10px;
}
.doniyor__text {
  max-width: 40%;
  width: 100%;
  margin: 30px auto 0;
  text-align: justify;
  font-size: 20px;
  line-height: 24px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: white;
}
.lazjon{
    background: rgb(57, 74, 94);
    padding: 50px;
    
}
.lazjon__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.lazjon__title{
    display: block;
    margin: 0 auto;
    width: 100%;
    font-family: serif;
    color: #fff;
    text-align: center;
    font-size: 80px;
    text-transform: uppercase;
}
.lazjon__img{
    width: 800px;
    height: 500px;
    margin: 50px auto 80px auto;
    animation: lazjon 1s 0s linear alternate infinite;
    border-radius: 20px;
}
@keyframes lazjon {
    0%{
        transform: scale(1);
    }
    50%{
     transform: scale(1.1);   
    }
    100%{
        transform: scale(1);   
        
    }
}
.lazjon__text{
    font-size: 20px;
    font-family: sans-serif;
    color: red;
    background: green;
    max-width: 700px;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    margin: 0 auto;
}
.git-title{
    font-size: 60px;
    color: #000e00;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: fantasy;
}
.github{
    display: block;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin: 50px auto 50px auto;
}
.git-text{
    font-size: 25px;
    padding: 10px 0 40px;
    text-align: center;
}
.bobur{
    background-color: rgb(179, 38, 108);
    padding: 20px 0;
}
.sarlavha{
    text-align: center;
    font-size: 50px;
    color: white;
    margin-bottom: 30px;
}
.rasm{
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    transition: .5s;
}
.rasm:hover{
    transform: scale(1.2);
}
.tekst{
    width: 600px;
    margin: 0 auto;
    color: white;
    text-align: center;
.pubg_h{
    
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
}
.pubg_img{
    border-radius: 50%;
    height: 500px;
    width: 500px;
    aspect-ratio: 1;
    float: left;
    shape-outside: circle();
    margin-right: 1rem;
.ismoil{
    width: 1920px;
    text-align: center;
    height: 40px;  
    background-color: rgb(225, 8, 8);
    border-radius: blue;
}
