*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header, .footer{
    font-size: 50px;
    background-color: brown;
    height: 100px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: fantasy;
}
.git-title{
    font-size: 60px;
    color: #000e00;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: fantasy;
}
.github{
    display: block;
    border-radius: 50%;
    width: 500px;
    height: 500px;
    margin: 50px auto 50px auto;
}
.git-text{
    font-size: 25px;
    padding: 10px 0 40px;
    text-align: center;
}
